:root{
    --nav-width:5rem;
    --bg-color-primary: rgb(22,22,22);    
    --bg-color-secondary: rgb(100,100,100);
    --bg-color-third: purple;
    --bg-color-fourth: rgb(11,11,11);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    margin-left: var(--nav-width);
    padding-left: 1rem;
    line-height: 1.5;
}

.navbar{
    position: fixed;

    width: var(--nav-width);
    height: 100vh;

    background-color: var(--bg-color-primary);
    /* padding-left: 15px; */
}
p{
    margin-bottom: 1rem;
}
/* este ideal sa se foloseasta ori bottom ori top pentru margin pe parcursul unui proiect */
.nav-link{
    display: flex;
    align-items: center;
    
    height: 5rem;
    
    text-decoration: none;
    color: var(--bg-color-secondary);


    /* justify-content: center; */

}
.nav-link>span{
    display:none;
    margin-left: 1rem;

}
.navbar:hover .nav-link>span{
    display: inline;

}
.navbar:hover {
    width:16rem;
}

.nav-link svg {
    height: 2rem;

}
    .nav-item:hover .nav-link svg{
    color: var(--bg-color-third)
}
.navbar:hover .nav-item:hover{
    box-shadow: 0px 1px  var(--bg-color-third);
    background-color: var(--bg-color-fourth);
    transition: all .1s ease-in-out;
    /* padding-left: 1rem; */
}
.navbar-nav{
    height: 100vh;
    display: flex;
    flex-flow: column;
    list-style: none;
   /* justify-content: space-evenly ;  */

}
.navbar-nav li:last-child{
    margin-top: auto;
}

.nav    -item{
    padding-left: 1rem;
}


