*{
    font-family: Tahoma, sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: #333;
}

.backdrop{
    position: absolute;
    top: 0px;
    left: 0px;

    background-color:rgba(0, 0, 0, 0.7);

    width: 100vw;
    height: 100vh;

    /* z-index: 1; */
    
}

.modal-space{
    background-color: white;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 600px;
    min-height: 200px;
    
    /* z-index: 2; */
}

header{
    position: relative;
    border-bottom: solid #cdcdcd;
    height: 50px;
}
header>*{
    display: inline;
    padding: 10px;
}
.closeBtn{
    position: relative;
    left: 450px;  

    color: #fff;
    background-color: #333;

    border-radius: 50%;

    height: 20px;
    width: 20px;

    margin: 10px 10px 0 0;
    padding:0;

    font-size:xx-small ;
}

::placeholder{
    color: #929292;
}

.input-area{
    vertical-align: middle;
    padding: 1rem;
    

}

.input-space{
    position: relative;
    text-align: center;
    display: block;
    margin: 10px 0;

}


.footer-elem{
    position: relative;
    border-top: solid #cdcdcd;
    height: 50px;
    text-align: end;
    vertical-align: middle;
}

.loginBtn{

    color: darkgreen;
    background-color: #bada55;
    float: right;
}
.cancelBtn{
    float: right;
}
.loginBtn, .cancelBtn {
    margin: 15px 5px 10px ; 
    padding:2px;
    border-radius: 3px;
    border: solid 1px #cdcdcd;
}

p{
    margin: 10px;
}











