/* flex box */
/* 
- sunt 2 axe main si cross
- by default sunt flex-direction:row 
- un rand se poate transpune si in coloana:
    flex-direction: column
- alte proprietati
    row-reverse
    column-reverse
- by default justify-content: flex-start;
    - va afecta continutul in functie de axa main
    flex-end - la capatul axei main
    center - pe centrul main axis
    space-between distribuie spatiul din stanga si dreapra intre elemente
    space-around - distribuie acelasi spatiu in stanga/dreapta elementelor
- align-items: strech by delault pe axa cross - elementele se intind pe toata latimea containerului
    flex-end - in partea de jos
    center - in mijloc
    baseline - aliniaza elementele in functie de elementul cel mai inalt caruia ii creaza o baseline
- cand utilizam flex-direction se modifica axele in functie de modificarea facuta
- wrapping flex item
        se va iesi in mod default din container daca sunt pe row 
            daca sunt pe column va creste inaltimea containerului
        - se va utiliza flex-wrap
- align-self by default auto = mosteneste align items de la parinte
- putem alinia si fiecare element in parte
    align-self: flex-start - il muta la la inceputul containerului in funcie de continu
        baseline
        felx-end
        center
- flex-grow: 1 (default e 0) creste la dimensiunea lui+spatiul liber (din container)
    daca toate au flex-grow 1 atunci se intind toate elemente pe dimensiunea containerului cu dimensiuni egale
    flex-grow:1 imparte proportional spatiul ramas intre elementele pe care il au
- flex-shrink:2 (default e 1) (micsoreaza elementul caruia ii e atribuit si imparte spatiul obtinul elementelor
    care au flex-grow si felx-basis
- flex-basis: 200px (by delault auto la continutul lui)
- order 2 pentru un element va fi mutat pe a doua pozitie indiferent de locul din html
- flex: 1 1 300px (grow, shrink, basis)
- flex-flow: row wrap (direction , wrap)

holy grail layout 
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
section{
    flex:5;
    display:flex;
}
header{
    background-color: red;
    flex:1;
}
nav{
    background-color: yellow;
    flex:1;
}
main{
    background-color: orange;
    flex:8;
}
aside{
    background-color: purple;
    flex:1;
}
footer{
    background-color: green;
    flex:1;
}
